@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

summary {
    list-style-type: '';
    list-style-image: url('/arr-down-b.png');
    list-style-position: outside;
}


/* HTML: <div class="loader"></div> */
.loader {
    font-weight: bold;
    font-family: monospace;
    display: inline-grid;
    font-size: 30px;
  }
  .loader:before,
  .loader:after {
    content:"Loading...";
    grid-area: 1/1;
    mask-size: 2ch 100%,100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-size: 2ch 100%,100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
            mask-composite:exclude;
    animation: l37 1s infinite;
  }
  .loader:before {
    mask-image: linear-gradient(#000 0 0),linear-gradient(#000 0 0);
    -webkit-mask-image:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
  }
  .loader:after {
    mask-image: linear-gradient(#000 0 0),linear-gradient(#000 0 0);
    -webkit-mask-image:linear-gradient(#000 0 0);
    transform: scaleY(0.5);
  }
  
  @keyframes l37{
    0%    {-webkit-mask-position:1ch  0,0 0}
    12.5% {-webkit-mask-position:100% 0,0 0}
    25%   {-webkit-mask-position:4ch  0,0 0}
    37.5% {-webkit-mask-position:8ch  0,0 0}
    50%   {-webkit-mask-position:2ch  0,0 0}
    62.5% {-webkit-mask-position:100% 0,0 0}
    75%   {-webkit-mask-position:0ch  0,0 0}
    87.5% {-webkit-mask-position:6ch  0,0 0}
    100%  {-webkit-mask-position:3ch  0,0 0}
  }

.carousel {
  grid-template-columns: 3, minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 120px;
  
  background-color: red;
}

/* @media screen and (max-width: 1024px) {
  .carousel {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-auto-flow: row;
    gap: 0;
  }
} */